header{

}
h1{
	font-size: 80px;
	color: #ffded1;
	line-height: 140%;
	vertical-align: top;
}
header img{
	width: 300px;
	float: left;
}
.wrapper {padding: 70px;
		height: 320px;
		background-color: #5a3466;
}